[
  {
    "_comment": "ToolDefinition[]: one entry per source tool/operation, mirroring the source schema exactly — see references/mapping.md.",
    "name": "{{TOOL_NAME}}",
    "description": "{{TOOL_DESCRIPTION_FROM_SOURCE}}",
    "inputSchema": {
      "type": "object",
      "properties": {{TOOL_PROPERTIES_FROM_SOURCE}},
      "required": {{TOOL_REQUIRED_FROM_SOURCE}}
    }
  }
]
